<h3>Hello <%= @name %></h3>
<br>
<p>Thank you for your interest in our services.</p>
<p>To come back to your quote, please paste this link in your browser:<br>
<%= @url %></p>
<br>
<p>Best regards,</p>
<p>Yago team</p>
